@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkest: #343a40;
  --color-dark: #114232;
  --color-medium: #87a922;
  --color-light: #dbdbdb;

  --color-theme: #787878;
  --color-accent: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
